<?xml version="1.0"?>
<model>
  <name>sentinel_vision</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Joseph Lullo</name>
    <email>joseph.lullo@torchtechnologies.com</email>
  </author>
  <description>Model of the X500 adapted to fit sentinel parameters with a odometry/external vision input.</description>
</model>
